:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 21%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 21%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 70%;
    --radius: 0.75rem;
}

@theme inline {
    --animate-aurora: aurora 8s ease-in-out infinite alternate;

    @keyframes aurora {
        0% {
            background-position: 0% 50%;
            transform: rotate(-5deg) scale(0.9);
        }

        25% {
            background-position: 50% 100%;
            transform: rotate(5deg) scale(1.1);
        }

        50% {
            background-position: 100% 50%;
            transform: rotate(-3deg) scale(0.95);
        }

        75% {
            background-position: 50% 0%;
            transform: rotate(3deg) scale(1.05);
        }

        100% {
            background-position: 0% 50%;
            transform: rotate(-5deg) scale(0.9);
        }
    }
}